body {
    margin: 0;
    padding: 0;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#outmessage {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#outmessage table thead tr td {
    vertical-align: middle;
    padding: 10px 0;
    font-weight: bold;
}